@page
@model KhumaloCraft.Pages.AboutUsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background-color: white;">
    <div class="container" style="background-color: #C19A6B; color: black; padding: 20px; border-radius: 10px; margin: 50px auto; width: 80%; text-align: justify;">
        <h2 style="color: black;">About us:</h2>
        <p>

            At KhumaloCraft Emporium, we're on a mission to celebrate the artistry and craftsmanship of artisans from every corner of the globe. Founded by visionary entrepreneur James Khumalo, our journey began with a simple yet profound dream – 
            to establish a global e-commerce platform that showcases the exquisite beauty of handcrafted products while fostering meaningful connections between artisans and a discerning audience.
        </p>

        <h3>Our Story</h3>

        <p>
            James Khumalo's journey began with a simple yet profound dream – to bridge the gap between artisans and discerning enthusiasts worldwide. With a deep appreciation for handcrafted products and a passion for empowering artisans,
            James envisioned KhumaloCraft Emporium as more than just a marketplace, but as a vibrant hub where culture, tradition, and creativity converge.
        </p>
       
        <h3>Connecting Artisans with the World </h3>
        <p>
            At KhumaloCraft Emporium, we believe that every handmade product tells a story – a story of tradition, craftsmanship, and dedication. Our platform is designed to 
            showcase these stories and connect artisans with a global audience who appreciates the beauty and authenticity of their work.<br>

            However, we understand that for James's dream to become a reality, KhumaloCraft Emporium needs to be more than just a showcase – it needs to be scalable, accessible, 
            and user-friendly. That's why we're committed to investing in technology and innovation to create an immersive and seamless shopping experience for both artisans and customers alike.
        </p> 


        <p>
            We appreciate your support of James Khumalo's vision and your participation in our effort to create a world where people are empowered and connected.<br>

            One handcrafted item at a time, we can change the world when we work together.
        </p> 
    </div>
</body>
</html>
