@page
@model KhumaloCraft.Pages.CompletedModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    img {
        display: block;
        margin: auto; /* Center align the image */
        width: 50%;
        height: 50%;
    }
    h1{
        text-align:center;
    }
</style>
<body>

    <h4 style="color: #C19A6B">
        Step 5: Shows that your order has been received
    </h4>

    <h1> Order Received!</h1>
    <a href="Order" style="background-color: #C19A6B; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; text-decoration: none; display: block; margin: 0 auto; width: fit-content;">View Order</a>
    <img src="~/css/order.jpeg" >

</body>
</html>