@page
@model KhumaloCraft.Pages.SignupModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body style="background-color: white;">
 
    <div class="container" style="background-color: #C19A6B; color: #FFFFFF; padding: 20px; border-radius: 10px; margin: 50px auto; width: 300px; text-align: center;">
        <h2 style="color: black;">Sign Up</h2>
        <form action="signup_process.php" method="post">

            <label for="name" style="color: black;">Name:</label>
            <input type="text" id="name" name="name" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 2px solid white ; border-radius: 5px;"><br><br>

            <label for="surname" style="color: black ;">Surname:</label>
            <input type="text" id="surname" name="surname" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 2px solid white; border-radius: 5px;"><br><br>

            <label for="email" style="color: black;">Email:</label>
            <input type="email" id="email" name="email" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 2px solid white; border-radius: 5px;"><br><br>

            <label for="password" style="color: black;">Password:</label>
            <input type="password" id="password" name="password" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 2px solid white; border-radius: 5px;"><br><br>

            <label for="confirm_password" style="color: black;">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 2px solid white; border-radius: 5px;"><br><br>

            <input type="submit" value="Sign Up" style="background-color: #C19A6B ; color: #FFFFFF; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">

        </form>

        <p style="color: black;">Already have an account? <a href="Login" style="color: white; text-decoration: none;">Login</a></p>

    </div>

    <script>
        function redirectToMyWork() {

            if ('signup_success') {
                window.location.href = 'http://localhost:5141/MyWork';
                return false;

            return true;
        }
    </script>

</body>
</html>
